// #適用ファイル
// #/shared/_request_list.html.haml
// #/messages/_message.html.haml
.avatar-default {
  width: 60px;
}

//  #適用ファイル
//  #/shared/_request_list.html.haml
//  #/messages/_message.html.haml
.avatar-original {
  border: 1px solid #A6A6A6;
  border-radius: 50%;
  height: 130px;
  width: 130px;
}
