.notice {
  align-items: center;
  background-color: #40AFED;
  color: white;
  display: flex;
  height: 30px;
  justify-content: center;
}

.alert {
  align-items: center;
  background-color: #F1561D;
  color: white;
  display: flex;
  height: 30px;
  justify-content: center;
}
